* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAVBAR */

.navbar {
  height: 70px;
  background: #1e293b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 1px solid #334155;
}

.navbar h1 {
  font-size: 24px;
  color: #60a5fa;
}

.logout-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background: #dc2626;
}

/* MAIN LAYOUT */

.dashboard-layout {
  display: flex;
  min-height: calc(100vh - 70px);
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  background: #111827;
  padding: 25px;
  border-right: 1px solid #1e293b;
}

.logo {
  text-align: center;
  margin-bottom: 40px;
  color: #60a5fa;
  font-size: 24px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 12px;
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 14px;
  border-radius: 10px;

  color: #cbd5e1;
  text-decoration: none;

  transition: all 0.3s ease;
}

.menu-link:hover {
  background: #1e293b;
  color: white;
  transform: translateX(5px);
}

.menu-link.active {
  background: #2563eb;
  color: white;
}

/* CONTENT */

.content {
  flex: 1;
  padding: 30px;
}

.page-title {
  margin-bottom: 25px;
  font-size: 32px;
}

/* DASHBOARD CARDS */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 25px;
}

.card {
  background: #1e293b;
  border-radius: 16px;
  padding: 25px;

  box-shadow: 0px 8px 25px rgba(0,0,0,0.3);

  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  color: #94a3b8;
  margin-bottom: 15px;
}

.card p,
.card h1 {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

/* TABLES */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #334155;
  color: white;
  padding: 15px;
}

td {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #475569;
}

tr:hover {
  background: #273549;
}

/* ALERT COLORS */

.high {
  color: #ef4444;
  font-weight: bold;
}

.medium {
  color: #f59e0b;
  font-weight: bold;
}

.low {
  color: #22c55e;
  font-weight: bold;
}

.welcome-box {
  margin-bottom: 25px;
}

.welcome-box p {
  color: #94a3b8;
  margin-top: 5px;
}

